In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.pipeline import make_pipeline

In [ ]:
housing_price = pd.read_csv("/content/drive/MyDrive/coding/housing-classification-iter3.csv")

In [ ]:
housing_price

,LotArea,LotFrontage,TotalBsmtSF,BedroomAbvGr,Fireplaces,PoolArea,GarageCars,WoodDeckSF,ScreenPorch,Expensive,MSZoning,Condition1,Heating,Street,CentralAir,Foundation
0,8450,65.0,856,3,0,0,2,0,0,0,RL,Norm,GasA,Pave,Y,PConc
1,9600,80.0,1262,3,1,0,2,298,0,0,RL,Feedr,GasA,Pave,Y,CBlock
2,11250,68.0,920,3,1,0,2,0,0,0,RL,Norm,GasA,Pave,Y,PConc
3,9550,60.0,756,3,1,0,3,0,0,0,RL,Norm,GasA,Pave,Y,BrkTil
4,14260,84.0,1145,4,1,0,3,192,0,0,RL,Norm,GasA,Pave,Y,PConc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,7917,62.0,953,3,1,0,2,0,0,0,RL,Norm,GasA,Pave,Y,PConc
1456,13175,85.0,1542,3,2,0,2,349,0,0,RL,Norm,GasA,Pave,Y,CBlock
1457,9042,66.0,1152,4,2,0,1,0,0,1,RL,Norm,GasA,Pave,Y,Stone
1458,9717,68.0,1078,2,0,0,1,366,0,0,RL,Norm,GasA,Pave,Y,CBlock
1459,9937,75.0,1256,3,0,0,1,736,0,0,RL,Norm,GasA,Pave,Y,CBlock

In [ ]:
housing_price["Foundation"].value_counts()

PConc     647
CBlock    634
BrkTil    146
Slab       24
Stone       6
Wood        3
Name: Foundation, dtype: int64

In [ ]:
housing_price["Heating"].value_counts()

GasA     1428
GasW       18
Grav        7
Wall        4
OthW        2
Floor       1
Name: Heating, dtype: int64

In [ ]:
housing_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LotArea       1460 non-null   int64
 1   LotFrontage   1201 non-null   float64
 2   TotalBsmtSF   1460 non-null   int64
 3   BedroomAbvGr  1460 non-null   int64
 4   Fireplaces    1460 non-null   int64
 5   PoolArea      1460 non-null   int64
 6   GarageCars    1460 non-null   int64
 7   WoodDeckSF    1460 non-null   int64
 8   ScreenPorch   1460 non-null   int64
 9   Expensive     1460 non-null   int64
 10  MSZoning      1460 non-null   object
 11  Condition1    1460 non-null   object
 12  Heating       1460 non-null   object
 13  Street        1460 non-null   object
 14  CentralAir    1460 non-null   object
 15  Foundation    1460 non-null   object
dtypes: float64(1), int64(9), object(6)
memory usage: 182.6+ KB

In [ ]:
# creating predicting features
X = housing_price

In [ ]:
# creating target 
y = X.pop("Expensive")

In [ ]:
y

0       0
1       0
2       0
3       0
4       0
       ..
1455    0
1456    0
1457    1
1458    0
1459    0
Name: Expensive, Length: 1460, dtype: int64

In [ ]:
X

,LotArea,LotFrontage,TotalBsmtSF,BedroomAbvGr,Fireplaces,PoolArea,GarageCars,WoodDeckSF,ScreenPorch,MSZoning,Condition1,Heating,Street,CentralAir,Foundation
0,8450,65.0,856,3,0,0,2,0,0,RL,Norm,GasA,Pave,Y,PConc
1,9600,80.0,1262,3,1,0,2,298,0,RL,Feedr,GasA,Pave,Y,CBlock
2,11250,68.0,920,3,1,0,2,0,0,RL,Norm,GasA,Pave,Y,PConc
3,9550,60.0,756,3,1,0,3,0,0,RL,Norm,GasA,Pave,Y,BrkTil
4,14260,84.0,1145,4,1,0,3,192,0,RL,Norm,GasA,Pave,Y,PConc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,7917,62.0,953,3,1,0,2,0,0,RL,Norm,GasA,Pave,Y,PConc
1456,13175,85.0,1542,3,2,0,2,349,0,RL,Norm,GasA,Pave,Y,CBlock
1457,9042,66.0,1152,4,2,0,1,0,0,RL,Norm,GasA,Pave,Y,Stone
1458,9717,68.0,1078,2,0,0,1,366,0,RL,Norm,GasA,Pave,Y,CBlock
1459,9937,75.0,1256,3,0,0,1,736,0,RL,Norm,GasA,Pave,Y,CBlock

# Splitting data into test and train

In [ ]:
X_train, y_train, X_test, y_test = train_test_split(X, y, test_size = 0.2, random_state= 12300)

In [ ]:
X_train

,LotArea,LotFrontage,TotalBsmtSF,BedroomAbvGr,Fireplaces,PoolArea,GarageCars,WoodDeckSF,ScreenPorch,MSZoning,Condition1,Heating,Street,CentralAir,Foundation
365,10690,59.0,672,3,0,0,1,0,0,RM,Norm,GasA,Pave,Y,CBlock
1228,8769,65.0,1702,1,1,0,3,0,224,RL,Norm,GasA,Pave,Y,PConc
1412,7200,60.0,0,2,0,0,2,0,0,RL,Norm,Wall,Pave,N,Slab
1266,10120,60.0,925,4,1,0,1,0,0,RM,Feedr,GasA,Pave,N,CBlock
318,9900,90.0,1347,4,1,0,3,340,0,RL,Norm,GasA,Pave,Y,PConc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
969,10382,75.0,588,2,0,0,1,0,0,RL,Norm,GasA,Pave,Y,CBlock
942,7711,42.0,1440,4,0,0,0,321,0,RL,Norm,GasA,Pave,Y,PConc
610,11050,NaN,1440,3,2,0,3,253,0,RL,PosN,GasA,Pave,Y,PConc
722,8120,70.0,864,3,0,0,2,0,0,RL,Norm,GasA,Pave,Y,CBlock
820,7226,72.0,798,3,0,0,2,0,0,RL,Norm,GasA,Pave,Y,PConc

## 2. Categorical encoding - "MANUAL" approach (Without using Pipelines)
###2.1. Replacing NaNs
We will need two different strategies to deal with missing values in numerical and categorical features.

##2.1.1. Replacing NaNs in categorical features
We were imputing the mean to NaN’s on our preprocessing pipeline for numerical features. There's a problem with categorical values: they don’t have a “mean”. Here, we will replace NaNs with a string that marks them: “N_A”. It is not an elegant solution, but it will allow us to move forward.

In [ ]:
# check the numeric and categorical data in dataset using d_type
X_train_num = X_train.select_dtypes(include="number")
X_train_cat= X_train.select_dtypes(exclude="number")

#3. Imputing missing values
###3.1 For numerical data

In [ ]:
# imputing missing values for numerical data
# Imputing the mean
num_imputer = SimpleImputer(strategy="mean")

# Fitting
num_imputer.fit(X_train_num)

# Transforming, keeping a DataFrame
X_num_imputed = pd.DataFrame(num_imputer.transform(X_train_num), 
                             columns=X_train_num.columns)

X_num_imputed.isna().sum()

LotArea         0
LotFrontage     0
TotalBsmtSF     0
BedroomAbvGr    0
Fireplaces      0
PoolArea        0
GarageCars      0
WoodDeckSF      0
ScreenPorch     0
dtype: int64

###3.2 For categorical data

In [ ]:
# imputing missing values for numerical data
# Imputing the mean
cat_imputer = SimpleImputer(strategy="most_frequent")

# Fitting
cat_imputer.fit(X_train_cat)

# Transforming, keeping a DataFrame
X_cat_imputed = pd.DataFrame(cat_imputer.transform(X_train_cat), 
                             columns=X_train_cat.columns)

X_cat_imputed.isna().sum()

MSZoning      0
Condition1    0
Heating       0
Street        0
CentralAir    0
Foundation    0
dtype: int64

In [ ]:
# Concatenating all columns
X_imputed = pd.concat([X_cat_imputed, X_num_imputed], axis=1)

X_imputed.head()

,MSZoning,Condition1,Heating,Street,CentralAir,Foundation,LotArea,LotFrontage,TotalBsmtSF,BedroomAbvGr,Fireplaces,PoolArea,GarageCars,WoodDeckSF,ScreenPorch
0,RM,Norm,GasA,Pave,Y,CBlock,10690.0,59.0,672.0,3.0,0.0,0.0,1.0,0.0,0.0
1,RL,Norm,GasA,Pave,Y,PConc,8769.0,65.0,1702.0,1.0,1.0,0.0,3.0,0.0,224.0
2,RL,Norm,Wall,Pave,N,Slab,7200.0,60.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0
3,RM,Feedr,GasA,Pave,N,CBlock,10120.0,60.0,925.0,4.0,1.0,0.0,1.0,0.0,0.0
4,RL,Norm,GasA,Pave,Y,PConc,9900.0,90.0,1347.0,4.0,1.0,0.0,3.0,340.0,0.0

#2.2. One Hot encoding
As you have learnt in the Platform lesson, One Hot encoding means creating a new binary column for each category in every categorical column. Fortunately, a Scikit-Learn transformer takes care of everything.

## 2.3.1. Fitting the OneHotEncoder
As with any transformer, we have to:

1.  Import it
2. Initialize it
3. Fit it to the data
4. Use it to transform the data

In [ ]:
# import
from sklearn.preprocessing import OneHotEncoder

# initialize
my_onehot = OneHotEncoder(drop="first")

# fit
my_onehot.fit(X_cat_imputed)

# transform
X_cat_imputed_onehot = my_onehot.transform(X_cat_imputed)

### 2.3.2. Converting the sparse matrix into a DataFrame
To see what exactly is inside of this sparse matrix we can convert it to a pandas DataFrame:

In [ ]:
df = pd.DataFrame.sparse.from_spmatrix(X_cat_imputed_onehot)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0

### 2.3.3. Retrieving the column names for the "one-hot" columns
The fitted transformer contains this information, and the method get_feature_names_out allows us to recover the names of the columns.

Note: If you're running this code as a local Jupyter notebook and you don't have the last version of Scikit-Learn, you might have to adapt the code. Check the documentation for the Scikit-Learn version you have installed

In [ ]:
colnames = my_onehot.get_feature_names_out(X_cat_imputed.columns)
df.columns = colnames
df.head()

,MSZoning_FV,MSZoning_RH,MSZoning_RL,MSZoning_RM,Condition1_Feedr,Condition1_Norm,Condition1_PosA,Condition1_PosN,Condition1_RRAe,Condition1_RRAn,...,Heating_Grav,Heating_OthW,Heating_Wall,Street_Pave,CentralAir_Y,Foundation_CBlock,Foundation_PConc,Foundation_Slab,Foundation_Stone,Foundation_Wood
0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0

### 2.3.4. Concatenating "one-hot" columns with numerical columns:
Now that the categorical columns are numerical, we can join them back with the originally numerical columns and assemble the dataset that will be ready for modelling:

In [ ]:
X_imputed = pd.concat([df, X_num_imputed], axis=1)

X_imputed.head(3)

,MSZoning_FV,MSZoning_RH,MSZoning_RL,MSZoning_RM,Condition1_Feedr,Condition1_Norm,Condition1_PosA,Condition1_PosN,Condition1_RRAe,Condition1_RRAn,...,Foundation_Wood,LotArea,LotFrontage,TotalBsmtSF,BedroomAbvGr,Fireplaces,PoolArea,GarageCars,WoodDeckSF,ScreenPorch
0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,10690.0,59.0,672.0,3.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,8769.0,65.0,1702.0,1.0,1.0,0.0,3.0,0.0,224.0
2,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,7200.0,60.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0

In [ ]:
X_imputed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1168 entries, 0 to 1167
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MSZoning_FV        1168 non-null   Sparse[float64, 0]
 1   MSZoning_RH        1168 non-null   Sparse[float64, 0]
 2   MSZoning_RL        1168 non-null   Sparse[float64, 0]
 3   MSZoning_RM        1168 non-null   Sparse[float64, 0]
 4   Condition1_Feedr   1168 non-null   Sparse[float64, 0]
 5   Condition1_Norm    1168 non-null   Sparse[float64, 0]
 6   Condition1_PosA    1168 non-null   Sparse[float64, 0]
 7   Condition1_PosN    1168 non-null   Sparse[float64, 0]
 8   Condition1_RRAe    1168 non-null   Sparse[float64, 0]
 9   Condition1_RRAn    1168 non-null   Sparse[float64, 0]
 10  Condition1_RRNe    1168 non-null   Sparse[float64, 0]
 11  Condition1_RRNn    1168 non-null   Sparse[float64, 0]
 12  Heating_GasA       1168 non-null   Sparse[float64, 0]
 13  Heating_GasW       1168 non-null   Sparse[float64, 0]
 14  Heating_Grav       1168 non-null   Sparse[float64, 0]
 15  Heating_OthW       1168 non-null   Sparse[float64, 0]
 16  Heating_Wall       1168 non-null   Sparse[float64, 0]
 17  Street_Pave        1168 non-null   Sparse[float64, 0]
 18  CentralAir_Y       1168 non-null   Sparse[float64, 0]
 19  Foundation_CBlock  1168 non-null   Sparse[float64, 0]
 20  Foundation_PConc   1168 non-null   Sparse[float64, 0]
 21  Foundation_Slab    1168 non-null   Sparse[float64, 0]
 22  Foundation_Stone   1168 non-null   Sparse[float64, 0]
 23  Foundation_Wood    1168 non-null   Sparse[float64, 0]
 24  LotArea            1168 non-null   float64
 25  LotFrontage        1168 non-null   float64
 26  TotalBsmtSF        1168 non-null   float64
 27  BedroomAbvGr       1168 non-null   float64
 28  Fireplaces         1168 non-null   float64
 29  PoolArea           1168 non-null   float64
 30  GarageCars         1168 non-null   float64
 31  WoodDeckSF         1168 non-null   float64
 32  ScreenPorch        1168 non-null   float64
dtypes: Sparse[float64, 0](24), float64(9)
memory usage: 161.6 KB

## 3. Categorical encoding - "Automated" approach (Using Pipelines)

In the manual approach, to encode the categorical columns numericall, we have:

1. Selected the categorical columns.
2. Fitted a `OneHotEncoder` to them.
3. Transformed the categorical columns with the encoder.
4. Converted the sparse matrix into a dataframe.
5. Recovered the names of the columns.
6. Concatenated the one-hot columns with the numerical columns.

All these steps can be synthetised by using Scikit-Learn Pipelines and specifically something called `ColumnTransformer`, which allows us to apply different transformations to two or more groups of columns: in our case, categorical and numerical columns.

This process is also called creating "branches" in the pipeline. One branch for the categorical columns and another for the numerical columns. Each branch will contain as many transformers as we want. Then, the branches will meet again, and the transformed columns will be automatically concatenated. Let's see the process in action:

### 3.1. Creating the "numeric pipe" and the "categoric pipe"

In [ ]:
# select categorical and numerical column names
X_cat_columns = X.select_dtypes(exclude="number").copy().columns
X_num_columns = X.select_dtypes(include="number").copy().columns

# create numerical pipeline, only with the SimpleImputer(strategy="mean")
numeric_pipe = make_pipeline(
    SimpleImputer(strategy="mean"))
 
 # create categorical pipeline, with the SimpleImputer(fill_value="N_A") and the OneHotEncoder
categoric_pipe = make_pipeline(
    SimpleImputer(strategy="constant", fill_value="N_A"),
    OneHotEncoder(handle_unknown = 'ignore')
)

### 3.2. Using `ColumnTransformer` a pipeline with 2 branches (the `preprocessor`) 

We simply tell the pipeline the following:

- One branch, called `"num_pipe"`, will apply the steps in the `numeric_pipe` to the columns named in `X_num_columns`
- The second branch, called `"cat_pipe"`, will apply the steps in the `categoric_pipe` to the columns named in `X_cat_columns

In [ ]:
from sklearn.compose import ColumnTransformer

preprocessor = ColumnTransformer(
    transformers=[
        ("num_pipe", numeric_pipe, X_num_columns),
        ("cat_pipe", categoric_pipe, X_cat_columns),
    ]
)

### 3.3. Creating the `full_pipeline` (`preprocessor` + Decision Tree)

Pipelines are modular. The `preprocessor` we created above with the `ColumnTransformer` can become now a step in a new pipeline, that we'll call `full_piepline` and will include, as a last step, a Decision Tree model: